.main
  padding: 0 16px 16px 16px
  max-width: 796px
  margin: auto

.container
  padding: 0 8px

.title
  color: $blue
  font-family: $lato
  font-weight: $black
  font-size: 1.5rem
  margin-bottom: 20px
  margin-top: 20px
  +apply-to(greater-than, custom-width)
    font-size: 1.7rem

  +modifier('white')
    color: white
    margin-bottom: 4px

    +apply-to(greater-than, custom-width)
      letter-spacing: 1px
      margin-bottom: 8px

.normal-text
  font-family: $lato
  line-height: 1.4rem

.button-arrow
  height: 20px
  position: relative
  top: 2px

.logo-small
  height: 30px

.empty-state
  display: flex

  +element('message')
    font-family: $lato
    color: $gray
    line-height: 1.2rem
    margin-top: 2px

  +element('snail')
    height: 40px
    margin-right: 10px