.signup-form
  margin-top: 16px

  +element('input')
    width: 100%
    border: 1px solid $gray
    border-radius: 2px
    padding: 10px 8px
    font-size: 1rem
    color: $blue
    &::placeholder
      color: $blue
      opacity: 1
    &:focus
      border-color: $blue
      outline: none

    +modifier('padded')
      margin-bottom: 10px

  +element('group-list')
    border-right: 1px solid $gray
    border-left: 1px solid $gray
    cursor: pointer

  +element('group')
    padding: 10px 7px
    font-family: $lato
    border-bottom: 1px solid $gray
    font-weight: $bold

  +element('new-group')
    border-bottom: 1px solid $gray
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    padding: 10px 7px
    font-family: $lato
    color: $blue
    cursor: pointer

    +modifier('emphasis')
      font-weight: $bold
      border: none

  +element('textarea')
    width: 100%
    border: 1px solid $gray
    border-radius: 2px
    margin: 10px 0
    padding: 6px
    font-size: 1rem
    &:focus
      outline: none
      border-color: $blue

  +element('submit')
    color: $blue
    font-family: $lato
    font-weight: $black
    font-size: 1.5rem
    text-decoration: none
    position: absolute
    bottom: 16px
    +apply-to(greater-than, custom-width)
      position: inherit


  +element('distance')
    display: flex
    justify-content: space-between
    font-family: $lato
    font-size: 1rem
    margin-top: 10px
    margin-bottom: 10px

  +element('deadline')
    display: flex
    justify-content: space-between
    font-family: $lato
    font-size: 1rem

  +element('label')
    display: flex

  +element('distance-label')
    margin: 16px
    font-weight: $black

  +element('deadline-label')
    margin: 16px
    font-weight: $black

  +element('distance-value')
    margin: 16px
    color: $dark-gray

  +element('deadline-value')
    margin: 16px
    color: $dark-gray

  +element('medal')
    height: 50px

.group-details
  margin: 16px 0












