@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);.main {
  padding: 0 16px 16px 16px;
  max-width: 796px;
  margin: auto;
}

.container {
  padding: 0 8px;
}

.title {
  color: #0035BB;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 1.7rem;
  }
}

.title--white {
  color: white;
  margin-bottom: 4px;
}

@media only screen and (min-width: 600px) {
  .title--white {
    letter-spacing: 1px;
    margin-bottom: 8px;
  }
}

.normal-text {
  font-family: "lato", sans-serif;
  line-height: 1.4rem;
}

.button-arrow {
  height: 20px;
  position: relative;
  top: 2px;
}

.logo-small {
  height: 30px;
}

.empty-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.empty-state__message {
  font-family: "lato", sans-serif;
  color: #D8D8D8;
  line-height: 1.2rem;
  margin-top: 2px;
}

.empty-state__snail {
  height: 40px;
  margin-right: 10px;
}

.signup-form {
  margin-top: 16px;
}

.signup-form__input {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  padding: 10px 8px;
  font-size: 1rem;
  color: #0035BB;
}

.signup-form__input::-webkit-input-placeholder {
  color: #0035BB;
  opacity: 1;
}

.signup-form__input:-ms-input-placeholder {
  color: #0035BB;
  opacity: 1;
}

.signup-form__input::-ms-input-placeholder {
  color: #0035BB;
  opacity: 1;
}

.signup-form__input::placeholder {
  color: #0035BB;
  opacity: 1;
}

.signup-form__input:focus {
  border-color: #0035BB;
  outline: none;
}

.signup-form__input--padded {
  margin-bottom: 10px;
}

.signup-form__group-list {
  border-right: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  cursor: pointer;
}

.signup-form__group {
  padding: 10px 7px;
  font-family: "lato", sans-serif;
  border-bottom: 1px solid #D8D8D8;
  font-weight: 700;
}

.signup-form__new-group {
  border-bottom: 1px solid #D8D8D8;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px 7px;
  font-family: "lato", sans-serif;
  color: #0035BB;
  cursor: pointer;
}

.signup-form__new-group--emphasis {
  font-weight: 700;
  border: none;
}

.signup-form__textarea {
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  margin: 10px 0;
  padding: 6px;
  font-size: 1rem;
}

.signup-form__textarea:focus {
  outline: none;
  border-color: #0035BB;
}

.signup-form__submit {
  color: #0035BB;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
  position: absolute;
  bottom: 16px;
}

.signup-form__distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "lato", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-form__deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "lato", sans-serif;
  font-size: 1rem;
}

.signup-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-form__distance-label {
  margin: 16px;
  font-weight: 900;
}

.signup-form__deadline-label {
  margin: 16px;
  font-weight: 900;
}

.signup-form__distance-value {
  margin: 16px;
  color: #4A4A4A;
}

.signup-form__deadline-value {
  margin: 16px;
  color: #4A4A4A;
}

.signup-form__medal {
  height: 50px;
}

.header {
  padding: 16px 16px 0 16px;
}

.header--blue {
  height: 240px;
  background: #0035BB url("http://homestead.app/img/routes.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
}

.header-container {
  max-width: 796px;
  margin: auto;
}

.nav {
  width: 100%;
  font-family: "lato", sans-serif;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 77px;
  max-width: 1000px;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .nav {
    height: 50px;
  }
}

.nav__link {
  font-weight: 300;
  text-transform: uppercase;
  color: #D8D8D8;
  padding-bottom: 13px;
  text-decoration: none;
  letter-spacing: -0.5px;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .nav__link {
    font-size: 1.2rem;
    padding-bottom: 14px;
    padding-top: 5px;
  }
}

.nav__link--blue {
  color: #7292F9;
}

.nav__link--active {
  color: #0035BB;
  border-bottom: 3px solid #0035BB;
}

.nav__link--active-blue {
  color: white;
  border-bottom: 3px solid white;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.my-profile-link__image {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.nav-bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

@media only screen and (min-width: 600px) {
  .nav-bottom {
    max-width: 420px;
    margin-left: 100px;
    position: absolute;
    top: 18px;
  }
}

.nav-bottom__underline {
  width: 100%;
  height: 3px;
  background-color: #D8D8D8;
  position: relative;
  top: -3px;
  z-index: 0;
}

.nav-bottom__underline--blue {
  background-color: #7292F9;
}

@media only screen and (min-width: 600px) {
  .nav-bottom__underline {
    padding-left: 100px;
    padding-right: 150px;
    max-width: 1000px;
    top: -8px;
  }
}

.user-list {
  font-family: "lato", sans-serif;
  font-size: 1.1rem;
  padding: 0 8px;
}

.user-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.user-list__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-list__user-info--first {
  font-weight: 900;
  color: #0035BB;
}

.user-list__avatar {
  width: 45px;
  height: 45px;
  border-radius: 2px;
  margin: 0 15px;
}

.user-list__rank {
  margin-top: 14px;
}

.user-list__name {
  color: black;
  margin-top: 14px;
}

.user-list__distance {
  margin-top: 14px;
}

.user-list__distance--first {
  font-weight: 900;
  color: #0035BB;
}

.activities-list {
  width: 100%;
  font-family: "lato", sans-serif;
  font-size: 1.1rem;
  padding: 0 8px;
}

.activity__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.activity__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__avatar {
  height: 45px;
  width: 45px;
  border-radius: 2px;
  margin-right: 15px;
}

.activity__name {
  font-weight: 900;
  margin-top: 14px;
}

.activity__date {
  margin-top: 14px;
  color: #4A4A4A;
  font-weight: 300;
}

.activity__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activity__name {
  margin-bottom: 14px;
  font-weight: 400;
}

.activity__label {
  margin-bottom: 8px;
  text-transform: capitalize;
  color: #4A4A4A;
  font-weight: 300;
}

.activity__value {
  font-weight: 700;
}

.activity__pace-info {
  text-align: center;
}

.activity__time-info {
  text-align: right;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #0035BB;
}

.schedule {
  font-family: "lato", sans-serif;
  color: white;
  margin-left: 8px;
}

.schedule__dates {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.schedule__dates--previous {
  color: black;
}

@media only screen and (min-width: 600px) {
  .schedule__dates {
    margin-bottom: 22px;
  }
}

.schedule__metric {
  margin-bottom: 8px;
  margin-left: 8px;
}

@media only screen and (min-width: 600px) {
  .schedule__metric {
    margin-bottom: 12px;
    font-size: 1.1rem;
  }
}

.schedule__metric--previous {
  color: black;
}

.schedule__icon {
  margin-right: 5px;
}

.schedule__icon--success {
  color: #50E3C2;
}

.schedule__icon--previous {
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login {
  background: #0035BB url("http://homestead.app/img/routes.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 40px 0;
  font-family: "lato", sans-serif;
  color: white;
}

@media only screen and (min-width: 480px) {
  .login {
    padding: 24vh 0 31vh 0;
    background-image: url("http://homestead.app/img/jumbotron.jpg");
    background-size: cover;
  }
}

@media only screen and (min-width: 480px) {
  .login__card {
    margin: 0 10vw;
    max-width: 300px;
    height: 100%;
    position: relative;
    background: white url("http://homestead.app/img/routes-dark.png");
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 175% 175%;
    background-position: center;
  }
}

.login__logo-mobile {
  display: block;
  margin: 15px auto auto auto;
  padding-right: 10px;
  width: 100px;
  height: 100%;
  background-image: url("http://homestead.app/img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 480px) {
  .login__logo-mobile {
    display: none;
  }
}

.login__logo-desktop {
  display: none;
}

@media only screen and (min-width: 480px) {
  .login__logo-desktop {
    display: block;
    width: 80px;
    height: 100px;
    background-image: url("http://homestead.app/img/logo-blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.login__title {
  font-weight: 300;
  font-size: 2.2rem;
  margin: 150px auto;
  padding: 0 20px;
  text-align: center;
  line-height: 2.6rem;
}

@media only screen and (min-width: 480px) {
  .login__title {
    color: black;
    position: absolute;
    top: 30px;
    margin: 0;
    font-size: 2rem;
  }
}

.login__title-span {
  font-weight: 700;
}

.login__call {
  text-align: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
}

@media only screen and (min-width: 480px) {
  .login__call {
    color: #4A4A4A;
    bottom: 80px;
  }
}

.login__button {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  border: 20px solid #fa4e1f;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #fa4e1f url("http://homestead.app/img/strava_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media only screen and (min-width: 480px) {
  .login__button {
    position: absolute;
    height: 60px;
    border: 13px solid #fa4e1f;
  }
}

