$stravaColor: #fa4e1f
$blue: #0035BB
$lightBlue: #7292F9
$gray: #D8D8D8
$dark-gray: #4A4A4A
$success-green: #50E3C2

$asset-path: 'http://homestead.app'

$lato: 'lato', sans-serif
$light: 300
$regular: 400
$bold: 700
$black: 900